{% extends "base.html" %}

{% block subtitle %} | HTTP 500{% endblock %}

{% block body %}
    <div>
        <h1>Internal Server Error (HTTP 500)</h1>
    </div>
    <p>Oh no! It looks like something went wrong with our code!</p>
    <p>If this is a frequent occurence, please consider sending us an email at <a href="mailto:bugreports@zenvideocloud.com" target="_blank">bugreports@zenvideocloud.com</a>.
    {% if request.sentry.id %}
    Include the following Sentry ID in your description:<br /><br />
    <b>SENTRY_ID = {{ request.sentry.id }}</b>
    {% endif %}
    </p>
    <p>For more information on what an HTTP 500 error is and how it occurs, <a href="http://www.checkupdown.com/status/E500.html" target="_blank">click here</a>.</p>
{% endblock %}